@import "tailwindcss";

/* Root Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind Theme Mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Connect Next.js Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default Body Styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Automatically Apply Heading Font */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
